<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string></string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>&quot;please connect&quot;</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>&quot;Comobi&quot; Would Like to Access the Microphone</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>&quot;Comobi&quot; Would Like to Access the Microphone</string>
	<key>item 0</key>
	<string>_chat._tcp</string>
	<key>item 1</key>
	<string>_chat._udp</string>
</dict>
</plist>
